
.sync {
    min-height: 107.5px;
}

.sync h5{
    min-height: 48px;
}

.cate-list li{
    list-style: none;
    margin-left: 30px;
}

.cate-list label{
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 5px;
}

.widget-title{
    margin-bottom: 10px;
}

.sub-but{
    border: none;
    background-color: white;
    font-size: small;
}

.sub-but:hover{
    color: blue;
    text-decoration: underline;
}

.price-range{
    display: flex;

}

.range-control{
    width: 40%;
}

.max-ui{
    margin-left: 20px;
}

label{
    margin-bottom: 0px;
}

.input-group input{
    box-shadow: none;
    height: 30px;
    font-size: 13px;
    line-height: 20px;
    border: none;
        border-bottom: #e0e0e0 solid 2px;
}