*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
/* Đảm bảo nội dung nằm trên video */
.content {
    position: relative;
    z-index: 1;
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

.wrapper{
    width: 530px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    color: #f1f1f1;
    border-radius: 12px;
    padding: 20px 30px;
}
.wrapper h1{
    font-size: 23px;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 0 30 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255,0.8);
    border-radius: 40px;
    font-size: 16px;
    color: #f1f1f1;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #f1f1f1;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;

}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 0 0 20px;
}
.remember-forgot label input{
    accent-color: #f1f1f1;
    margin-right: 3px;

}
.remember-forgot a{
    color: #f1f1f1;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    padding: 13px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .btn:hover{
    opacity: 0.8;
}
.wrapper .register-link{
    font-size: 14.5px;
    margin: 20px 0 15px;

}
.verify{
    display: flex;
    justify-content: space-between;
}
.register-link p a{
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.error-message {
    width: 67%;
    z-index: 1000;
    margin: auto;
    display: none;
    position: fixed;
    top: -111px;
    left: 0;
    right: 0;
    background-color: rgba(208, 22, 39, 0.8);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 40px;
} 
.error-message-susses{
    width: 67%;
    z-index: 1000;
    margin: auto;
    display: none;
    position: fixed;
    top: -111px;
    left: 0;
    right: 0;
    background-color: #00CC00;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 40px;
}

hr{
    margin: 4% 0 4%;
}
a{
    color: beige;
}
h2{
    margin-top: 20px;
    font-size: 19px;
}
p{
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
}
