<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>controller.DashBoardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>controller.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>controller.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>controller.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLesson</servlet-name>
        <servlet-class>controller.ViewLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourseServlet</servlet-name>
        <servlet-class>controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLesson</servlet-name>
        <servlet-class>controller.lesson.AddLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchCourse</servlet-name>
        <servlet-class>controller.WatchCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizController</servlet-name>
        <servlet-class>controller.quiz.QuizController</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>TestReviewController</servlet-name>
        <servlet-class>controller.test.TestReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizController</servlet-name>
        <servlet-class>controller.quiz.AddQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.question.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonController</servlet-name>
        <servlet-class>controller.lesson.LessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controller.test.TestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/coursedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLesson</servlet-name>
        <url-pattern>/ViewLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLesson</servlet-name>
        <url-pattern>/addLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchCourse</servlet-name>
        <url-pattern>/learn/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizController</servlet-name>
        <url-pattern>/Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestReviewController</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizController</servlet-name>
        <url-pattern>/AddQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonController</servlet-name>
        <url-pattern>/lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuizListController</servlet-name>
        <servlet-class>controller.quiz.QuizListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizListController</servlet-name>
        <url-pattern>/QuizList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApproveRequestController</servlet-name>
        <servlet-class>controller.ApproveRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApproveRequestController</servlet-name>
        <url-pattern>/approveRequest</url-pattern>
    </servlet-mapping>
    <!-- Slider Management Controller -->
    <servlet>
        <servlet-name>SliderManagementController</servlet-name>
        <servlet-class>controller.marketing.SliderManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SliderManagementController</servlet-name>
        <url-pattern>/slider</url-pattern>
    </servlet-mapping>
    <!-- Change Role Servlet -->
    <servlet>
        <servlet-name>ChangeRoleServlet</servlet-name>
        <servlet-class>controller.managerUser.ChangeRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeRoleServlet</servlet-name>
        <url-pattern>/ChangeRoleServlet</url-pattern>
    </servlet-mapping>
</web-app>
